AI Chatbot (given Knowledge base using RAG).json
{
  "name": "AI Chatbot (given Knowledge base using RAG)",
  "nodes": [
    {
      "parameters": {
        "content": "RAG Pipeline & Chatbot",
        "height": 80,
        "width": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        -560
      ],
      "typeVersion": 1,
      "id": "1240c356-e599-4948-b96f-162452169940",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## RAG = Retrieval Augmented Generation",
        "height": 80,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -432,
        -560
      ],
      "id": "833ea061-386c-482e-9e12-9ed863ff4417",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1xUcRSP7mlxibm9pXZ7faJ-CO6HrYuag-",
          "mode": "list",
          "cachedResultName": "n8n testing - FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1xUcRSP7mlxibm9pXZ7faJ-CO6HrYuag-"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -752,
        -384
      ],
      "id": "f5cbafe7-0542-4eb2-b270-7e84fdb2804e",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "d1YsiolXF1piAaOr",
          "name": "Google could & Drive (offerthehook@gmail.com)"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -352,
        -384
      ],
      "id": "b1de8e31-ee81-4e78-92cc-800cb7422773",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "d1YsiolXF1piAaOr",
          "name": "Google could & Drive (offerthehook@gmail.com)"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -144,
        -384
      ],
      "id": "f1a6e8a0-59f2-4bda-b292-e4dd811a7205",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "K6xWjf6QsCbxaR6T",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        -176
      ],
      "id": "81cc4c88-b268-4f02-85f6-63588a3eb956",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "Ind9RIBwoqP8AOet",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -48,
        -192
      ],
      "id": "a455c395-72b9-4a32-8035-619f531b5223",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -48,
        -32
      ],
      "id": "1e330cb9-b987-47a3-bdca-2bcb70164329",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "To check, go to supabase table editor and click on the table \"documents\" and you will see information about the website.",
        "height": 96
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -576
      ],
      "id": "1db0fa21-7078-4afc-9f62-67352104b9af",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        496,
        -400
      ],
      "id": "1a7b6235-4fa5-44df-adf6-29a372ae91ab",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        288,
        -400
      ],
      "id": "8f329427-189b-4224-9715-37f1c74a0065",
      "name": "When chat message received",
      "webhookId": "c93da269-c4f5-4d05-9e86-4ed6c4199f41"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-preview-09-2025",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        368,
        -192
      ],
      "id": "48685b84-de96-48b3-a7d2-b3d9cdf21048",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "fIincMqldqwl5Vrc",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access a database containing the website content, policy, FAQ, testimonials and product description and information",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        624,
        -160
      ],
      "id": "fe41d916-6e18-4620-b68c-53faa8b9cf6c",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "K6xWjf6QsCbxaR6T",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "7b8f13fc-9911-44b4-b35f-d88e2e27462d",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "Ind9RIBwoqP8AOet",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM documents\nWHERE metadata->>'source' = $1;",
        "options": {
          "queryReplacement": "={{ $json.name }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -544,
        -368
      ],
      "id": "fd57929a-cbb4-499c-ac6c-83c6aad17fde",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "9ddTkMWDL8PU4Csr",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dada466d-2567-468d-af17-0e207f834cc4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d5a15b44ceac1c0dc07d5e115b3a540d8727607c1ad7f99835f6abe62966d97b"
  },
  "id": "86ShKWOgLzZTDiDH",
  "tags": [
    {
      "updatedAt": "2026-01-01T12:22:21.742Z",
      "createdAt": "2025-11-09T12:19:36.668Z",
      "id": "lFIVNLA9Qs3CAfCT",
      "name": "Practical"
    }
  ]
}