Customer Support Workflow.json
{
  "name": "Customer Support Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "readStatus": "unread",
          "sender": "-from:{offerthehook@gmail.com support@sellthebenefit.com}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        80
      ],
      "id": "488ec72f-e260-4bfd-8fad-ff34123ba293",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "dAoHw45P7JcoPgrp",
          "name": "offerthehook gmail api (has suppor pro email)"
        }
      }
    },
    {
      "parameters": {
        "content": "## Customer Support Workflow",
        "height": 80,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        -272
      ],
      "typeVersion": 1,
      "id": "40a8be8c-bb30-49d8-9e15-f417a054bb6d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support",
              "description": "An email that is related to helping a customer. They may be asking questions about our policies or questions about our products or services"
            },
            {
              "category": "Other",
              "description": "Any email that is not customer support related."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -224,
        80
      ],
      "id": "d09848f6-6266-4739-a3d3-d5a050c4e31e",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -160,
        304
      ],
      "id": "95731395-063b-4a2e-a627-b7d5f9d404a3",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "fIincMqldqwl5Vrc",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        272,
        272
      ],
      "id": "73f833ed-899b-41ef-986a-a03dea022d04",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a Customer Support agent for STB AI. Your job is to respond to incoming emails with relevant information using your INTERNAL_COMPANY_KNOWLEDGE_BASE tool.\n\n## Instructions\n- Your output should be friendly and use emojis\n- Sign off as Joe AI from SellTheBenefit\n\n## Output\n- Output only the body content of the email"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        160,
        -336
      ],
      "id": "16ddfbcc-7971-46ef-a26c-f8d821f449af",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        128,
        -112
      ],
      "id": "46c2a20c-37e1-4e2b-baef-95c394799188",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "fIincMqldqwl5Vrc",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This is the INTERNAL_COMPANY_KNOWLEDGE_BASE\nMANDATORY: You must search this tool for every customer inquiry. It contains the only official, up-to-date information for STB AI customer support",
        "tableName": {
          "__rl": true,
          "value": "STBAIbase",
          "mode": "list",
          "cachedResultName": "STBAIbase"
        },
        "options": {
          "queryName": "match_stbaibase"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        256,
        -112
      ],
      "id": "9f6903bc-8b70-4d49-8e71-cb9d86b03ca2",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "K6xWjf6QsCbxaR6T",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        336,
        96
      ],
      "id": "315eb149-0cd3-4db0-83f1-c54beac763c8",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "Ind9RIBwoqP8AOet",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        -128
      ],
      "id": "db023569-2cfd-4747-b9d4-e0e8d0fdc442",
      "name": "Reply to a message",
      "webhookId": "061cc5eb-ce1f-4108-b6b9-13571e9c587e",
      "credentials": {
        "gmailOAuth2": {
          "id": "dAoHw45P7JcoPgrp",
          "name": "offerthehook gmail api (has suppor pro email)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v0",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Beirut",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 1
  },
  "versionId": "828afc0e-82ad-4b08-bdb8-4c6e785b69a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d5a15b44ceac1c0dc07d5e115b3a540d8727607c1ad7f99835f6abe62966d97b"
  },
  "id": "Cl8WNisl8PBLKZbd",
  "tags": [
    {
      "updatedAt": "2026-01-01T12:22:21.742Z",
      "createdAt": "2025-11-09T12:19:36.668Z",
      "id": "lFIVNLA9Qs3CAfCT",
      "name": "Practical"
    }
  ]
}